<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
 
    <title>Breaking Bad y Better Call Saul </title>
 
  	  {# Cargamos la librería #}
	  {% load bootstrap4 %}
 
	  {# CSS Bootstrap #}
	  {% bootstrap_css %}
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</nav>

<body>

<li>Nombre: {{nombre}}</li>
<li>Ocupación: </li> 
{% for elemento in ocupacion %}
    {{elemento}}
{% endfor %}  
<li>Status: {{status}}</li>
<li>Sobrenombres: {{sobrenombres}}</li>
<li>Nombre Actor/Actriz: {{actor}}</li>
<li>Imagen:</li>
<img src={{imagen}} width="500" height="600">

<li>Temporadas en las que aparece en Breaking Bad: </li>
{% for elemento in tbb %}
    <li><a href="{% url 'temporadabb' elemento%}">Temporada {{elemento}}</a></li>
{% endfor %}      

<li>Temporadas en las que aparece en Better Call Saul: {{tbcs}}</li>

{% for elemento in tbcs %}
    <li><a href="{% url 'temporadabcs' elemento%}">Temporada {{elemento}}</a></li>
{% endfor %}      

<p><a href="{% url 'index' %}">Volver a la página principal</a></p>
</body>